@import '../abstract/variaveis'; 

.mensagem-flor {
    justify-content: center;
    text-align: center;
    
    img {
        margin:  2rem;
        width: 30em;
        height: 18em;
        border: 2px solid $cor-terciaria;
        
    }
    
    h3 {
        font-size: 30px;
        font-weight: 800;
        margin-bottom: 1em;
        color: $cor-secundaria;
    }
    h4 {
        font-size: 20px;
        margin-bottom: 1em;
        font-weight: 600;
        color: $cor-secundaria;
    }
    p {
        font-size: 15px;
        margin-bottom: 2em;
        font-weight: 400;
        color: $cor-secundaria;
        
    }
}
